* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

body {
	padding-top: 55px;
}
header {
	background: #4357ad;
	position:fixed;
	width: 100%;
	top: 0;

}

.menu {
	width: 90%;
	max-width: 1000px;
	margin:auto;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	
    
}

.menu .logo {
	display: inline-block;
	margin-right: 1em;
}

.menu .logo img {
	vertical-align: top;
	height: 30px;
}

.menu .btn-menu {
	display: none;
	color: #fff;
	text-decoration: none;
	font-size: 1em;
}

.menu .logo:hover {
	background: #4357ad;
}

.menu .enlaces {
	display: inline-block;
	text-align: right;
}

.menu .enlaces a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 1em;
	text-align: center;
	font-size: 0.7em;
}

.menu .enlaces i {
	margin-right: 5px;
}

.menu .enlaces a:hover {
	background: #f2f2f2;
	color: #4357ad;
}

/* Efectos de Menu */
.headroom {
	transition: transform .3s ease;
}

.headroom--pinned {
	transform: translateY(0%);
}

.headroom--unpinned {
	transform: translateY(-100%);
}

@media screen and (max-width: 700px) {
	header .menu {
		flex-direction: column;
	}

	header .menu .logo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		
	}

	header .menu .logo .btn-menu {
		display: inline-block;
	}

	header .menu .enlaces {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}